<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="../src/css/hubstyle.css" />
    <title>burger hub</title>
  </head>
  <body>
    <section class="login">
      <nav>
        <h1>Login <ion-icon name="ribbon"></ion-icon></h1>
      </nav>
      <form action="/n-com/hublogin" method="post">
        <input require type="text" name="number" id="" />
        <input require type="password" name="password" id="" />
        <input type="submit" value="login" />
      </form>
    </section>
  </body>
</html>
