
              <span><ion-icon name="today"></ion-icon></span>Product <%=
              menus.length %>
            </h1>
            <a href="/n-com/addpro"
              ><span><ion-icon name="add-circle"></ion-icon></span>add
              product</a
            >
          </div>
          <!-- pro-head end -->
          <div class="pro-list">
            <!-- singel product start -->
            <% menus.forEach((pro)=>{ %>
            <div class="singel-pro">
              <div class="img">
                <img src="<%= pro.img %>" alt="" />
              </div>