<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="../../../src/css/hubstyle.css" />
    <title>burger hub</title>
  </head>
  <body>
    <header>
      <section class="header">
        <img src="../../../img/logo.png" alt="" />
        <div class="nav">
          <a href="/n-com/logout">
            <span><ion-icon name="exit"></ion-icon></span>logout
          </a>
        </div>
      </section>
    </header>
    <section class="body">
      <nav>
        <ol>
          <li>
            <a href="/n-com/order"><ion-icon name="clipboard"></ion-icon></a>
          </li>
          <li>
            <a href="/n-com/menu"
              ><ion-icon name="add-circle-outline"></ion-icon
            ></a>
          </li>
          <li>
            <a href="/n-com/userreg"><ion-icon name="person-add"></ion-icon></a>
          </li>
          <li>
            <a href="#"><ion-icon name="contacts"></ion-icon></a>
          </li>
          <li>
            <a href="#"><ion-icon name="nuclear"></ion-icon></a>
          </li>
        </ol>
      </nav>
      <div class="cotent-body">
        <div class="add-product">
          <div class="add-pro-ti">
            <h1>
              <span><ion-icon name="add-circle-outline"></ion-icon></span>Update
              product
            </h1>
          </div>
          <div class="add-pro-from">
            <form action="/n-com/pro/update" method="post">
              <input type="hidden" name="id" value=<%= pro._id %> />
              <div class="input-addpro">
                <span><ion-icon name="beer"></ion-icon></span>
                <input
                  value="<%= pro.name %>"
                  required
                  type="text"
                  name="name"
                  placeholder="product name"
                  id=""
                  autocomplete="off"
                />
              </div>
              <div class="input-addpro">
                <span><ion-icon name="cash"></ion-icon></span>
                <input
                  value="<%= pro.price %>"
                  required
                  type="text"
                  name="price"
                  placeholder="product price"
                  id=""
                  autocomplete="off"
                />
              </div>
              <div class="input-addpro">
                <span><ion-icon name="images"></ion-icon></span>
                <input
                  value="<%= pro.img %>"
                  required
                  type="text"
                  name="img"
                  placeholder="product photo link"
                  id=""
                  autocomplete="off"
                />
              </div>
              <div class="add-img-advise">
                <h1>
                  <span><ion-icon name="cloud-upload"></ion-icon></span> you can
                  upload your photo in any img hosting site and put the link
                  heare
                </h1>
                <button type="submit">update</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <script src="../src/js/hubmenu.js"></script>
  </body>
</html>
